body {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.snake {
  margin: 0;
  box-sizing: border-box;
  display: block;
  background: #323131;
}

.score {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  display: block;
  padding: 20px;
  font-size: 30px;
}
.score__number {
  font-size: 30px;
  font-weight: bold;
}
.floating {
  color: #ffffff30;
  position: absolute;
  width: 50vh;
  text-align: center;
  top: 50vh;
  font-size: 5vh;
  right: calc(50% - 50vh / 2);
}
.header {
  color: #ffffff90;
  font-size:15vh;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  width: 50vh;
  text-align: center;
  top: 20px;
  right: calc(50% - 50vh/ 2);
}
